.mytable{
    background-color: red;
}
#pos{
    height: 100%;
    width: 60px;
    border: 3px dotted blueviolet;
    margin: 50px;
    position: relative;
    top: 50px;
    left: 50px;
    bottom: 9px;
}
.Image{
    position: absolute;
    top: 0px;
    left: 0px;
}
.img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
  }